

.content {
  max-width: 800px;
  margin: auto;
}
.contentscnd {
  max-width: 600px;
  margin: auto;
}

body {
  background-color: 111111;
  color: white;
}

b {
	font-weight: bold;
	color: sandybrown;
}

h1 {
  color: cyan;
  margin-left: 20px;
}

h2 {
  color: gold;
}


p {
	color: white;
}

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: auto%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.3333333333%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: auto;
}

table, th, td {
  border: 1px solid black;
}

#Home {background-color: 3b100e;}
#Projects {background-color: 193618;}
#Contact {background-color: 472f01;}



 /* Style all font awesome icons */
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
 
.fab {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
	background: #0A66C2;
	color: white;
}

.fa-envelope {
	background: orange;
	color: white;
}
 
 .fa-github {
	 background: green;
	 color: white;
 }
 


 
 .center {
  margin: auto;
  width: 50%;
  height: 50%;
  background-color: #B7410E;
  border: 3px solid gold;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

con {
	color: white;
	font-size: 64px;
	vertical-align: middle;
}