<!doctype html>
<script src="scripts.js"></script> 


<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
<link rel="stylesheet" href="styles.css">
<link href="fontawesome/css/all.css" rel="stylesheet">
  </head>

<header>
<hr>
<div class="tbanner">
<bigh><a href="./">STARSHOT</a></bigh>
</div>
<hr>
</header>

<body>
<div class="contentscnd">
{{content}}
</div>
</body>



<footer>
<hr>
<div class="tbanner">
<a href="https://www.linkedin.com/in/xavierhancock/" class="fab fa-linkedin"></a>
<a href="https://twitter.com/XavierHTech" class="fab fa-twitter"></a>
<a href="XavierHTech@gmail.com" class="fa fa-envelope"></a>
<a href="https://www.github.com/XavierHTech" class="fab fa-github"></a>
</div>
</footer>

</html>